@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;
:root {
  --background:rgb(10, 9, 9);
  --foreground:rgb(231, 212, 212);
}

.text-foreground {
  color: var(--foreground);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply font-sans bg-background text-foreground;
}
h1, h2 {
  @apply font-family-display;
}



.input {
    @apply w-full px-4 py-2 border rounded;
  }
  .btn {
    @apply px-4 py-2 rounded text-white;
  }
  .btn-primary {
    @apply bg-blue-600 hover:bg-blue-700;
  }
  .btn-secondary {
    @apply bg-gray-500 hover:bg-gray-600;
  }
  
